{% extends '../members_dashboard.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
<div class="p-3 bg-light">
    <div class="container border rounded shadow-sm bg-white">
        <div class="p-3">
            <div class="d-flex justify-content-between align-items-center">
                <p class="text-muted mb-0"># My Profile</p>
                <a href="{% url 'update_profile' %}" class="btn btn-sm btn-outline-primary p-2">Update</a>
            </div>
            <div class="text-center">
                <img class="rounded-circle account-img p-2 mt-3" src="{{ user.profile.dp.url }}"
                    style="width: 150px; height: 150px;" />
                <h2 class="account-heading fw-bold text-dark mt-3">{{ user.full_names }}</h2>
                <p class="small py-2 text-muted">Email: {{ user.email }}</p>
                <p class="text-secondary mb-3">DSC {{ user.profile.club_role }} | {{ user.profile.designation }}</p>
            </div>
            <hr>
            <h5 class="text-dark">Bio</h5>
            <p class="text-muted">{{ user.profile.bio }}</p>
        </div>
    </div>
</div>

{% endblock content %}