{% load static %}
{% load crispy_forms_filters %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">

    <title>Developer Student's Club</title>
</head>

<body>

    <!-- header  -->
    <!-- nav  -->
    <div class="header">
        <!-- nav  -->
        <nav class="navbar navbar-expand-lg bg-light p-3 fixed-top border-none">
            <div class="container-fluid">
                <a class="navbar-brand px-md-5" id="brand" href="#">
                    <img src="{% static 'images/mmtvc_logo.jpeg'%}" alt="" style="width: 40px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-md-flex justify-content-end w-100">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index'%}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Contact</a>
                        </li>
                        <li class="nav-item mx-md-5">
                            <a class="btn btn-info rounded" href="{% url 'login'%}">Signin</a>
                        </li>
                </div>
            </div>
        </nav>

        {% block content %}
        <!-- header content  -->
        <div class="row p-5 justify-content-between">
            <div class="col-12 col-md-6 p-5 mt-5">
                <p class="small fw-lighter"># Open To The Public</p>
                <h1 class="large_h fw-light fade-in">
                    MMTVC Developer Student's Club
                </h1>

                <p class="fw-lighter">
                    Register today to get access to our large collection of books, ranging from captivating novels to
                    mathematics and engineering coursebooks.
                </p>
                <a class="btn btn-lg btn-info rounded mb-3" href="">Get
                    Started</a>
            </div>
            <div class="col-12 col-md-6 py-md-5 rounded">
                <img src="{% static 'images/anti-hacking.gif'%}" alt="" style="width: 100%; height: 100%;"
                    class="rounded">
            </div>
        </div>
    </div>

    <!-- about  -->
    <section id="about">
        <div class="container-fluid p-5 bg-dark text-white">
            <div class="container">
                <div class="row p-5">
                    <div class="col-12 col-md-6 px-5 border border-2 border-white about-img rounded">
                    </div>
                    <div class="col">
                        <h2 class="text-info">About</h2>
                        <p class="fw-light">
                            Welcome to the Developer Student Club, where coding dreams take flight faster than a Wi-Fi
                            signal in a coffee shop. Our club is the ultimate playground for tech enthusiasts, from
                            beginners who just learned what "Hello, World!" means to seasoned pros who can code in their
                            sleep (but don't, because that's dangerous).
                        </p>
                        <p class="fw-light">
                            We offer a smorgasbord of activities: hackathons that make Red Bull's stock price soar,
                            workshops that turn code into art, and networking events where you can finally understand
                            what "full-stack developer" means. Our mission? To turn every member into a coding ninja,
                            equipped with skills sharper than a samurai sword.
                        </p>
                        <p class="fw-light">
                            Join us and dive into a world where bugs are squashed like tiny digital pests, and every
                            line of code is a step closer to world domination (or at least, a really cool app). Let's
                            make tech magic together, one keystroke at a time!
                        </p>

                        <a href="" class="btn btn-info">Find Out More</a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- contact_us  -->
    <section id="contact">
        <div class="container p-5">
            <h2 class="text-info">Contact Us</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'images/lg.jpg'%}" alt="" style="width: 100%;" class="rounded">
                </div>
                <div class="col-md-6">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form | crispy }}
                        <input type="submit" value="Contact Us" class="btn btn-info btn-block">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- footer  -->
    <footer>
        <div class="container-fluid bg-dark text-white">
            <div class="container py-5">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <h4 class="text-info fade-in">Developer's Student Club</h4>
                        <p class="fade-in">
                            MMTVC Library Management System allows users to borrow books and access other library
                            resources easily. The system helps
                            manage user accounts, track borrowed items, and send notifications for overdue books. By
                            simplifying these processes, it ensures that everyone can efficiently use the library's
                            services and find the materials they need.
                        </p>
                    </div>
                    <div class="col-12 col-sm-4">
                        <h5 class="text-info py-2">Useful Links</h5>
                        <ul>
                            <li><a class="text-decoration-none text-white" href="#">Home</a></li>
                            <li><a class="text-decoration-none text-white" href="#">About</a></li>
                            <li><a class="text-decoration-none text-white" href="#">Contact Us</a></li>
                            <li><a class="text-decoration-none text-white" href="">Join
                                    Us</a></li>
                        </ul>
                    </div>

                    <div class="text-center pt-3">
                        <h3 class="fw-lighter text-info small">@2024: MMTVC DSC.</h3>
                    </div>
                </div>
    </footer>

    {% endblock %}
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="{% static 'js/index.js'%}"></script>
</body>

</html>